	
	body {
  margin: 0;
  padding: 0;
	font-family: sans-serif;
	position: relative;
	display: inline-block;
	width: 98%;
	height: 96%;
	margin: 0.8em auto;
	color: #9de0bb;
	font-family: 'Marmelad', sans-serif;
	/* background-color: rgb(52, 133, 52) ;  */
	background: url('./csa-box-img.jpg') no-repeat center center;
	background-size: cover;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

 
h1 {
	width: 350px;
	padding: 20px;
	border: 5px solid #9de0bb;
	display: inline-block;
	right: 40px;
	background-color: rgb(107, 11, 51, 0.75);
	border-radius: 7px;
	clear: right;
	}

.container {
	padding: 20px;
	width: 350px;
	border: 5px solid #9de0bb;
	display: inline-block;
	background-color:  rgb(107, 11, 51, 0.8);
	border-radius: 7px;
}

@media only screen and (min-width: 600px) {
	h1 {
		border: 5px solid #9de0bb;
		padding: 4px;
		font-size: 40px;
		width: 500px;
		display: inline-block;
		background-color: rgb(107, 11, 51, 0.75);
		border-radius: 7px;
		/* position: relative; */
		right: 123px;
		clear: left;
	 }
	 .container {
		border: 5px solid #9de0bb;
		display: inline-block;
		padding: 20px;
		width: 450px;
		background-color:  rgb(107, 11, 51, 0.8);
		border-radius: 7px;
	}
	}

input {
  display: block;
}

.hide-vegetable-selector-form {
  display: none;
}

nav {
	position: absolute;
	height: 10%;
  font-size: 35px;
	font-family: 'Marmelad', sans-serif;
	color: #9de0bb;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 30px;
	padding: 5px;
  font-family: 'Marmelad', sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}

h2.dashboard {
	font-size: 30px;
	padding: 5px;
  font-family: 'Marmelad', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard.container {
	padding-top: 20px;
}



#password, #username, #firstName, #lastName, #passwordConfirm {
	width: 180px;
	height: 13px;
  display: inline-block;
	font-size: 25px;
	font-family: 'Marmelad', sans-serif;
	padding: 0.8em 0.5em;
	margin: 0.8em auto 0.8em;
	background: #9de0bb;
	color: rgb(63, 47, 47);
	border: solid 1px #1f253d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

label {
	margin: 0;
	font-size: 20px;
	padding: 0;
}

label.select-instructions {
	font-size: 25px;
}

button{
	width: 100px;
	height: 35px;
	padding: 0.5em 0.5em;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 0.8em;
	font-size: 15px; 
	font: brown;
	font-family: 'Marmelad', sans-serif;
	background-color: #9de0bb;
}

select{
	padding: 0.5em 0.5em;
	width: 140px;
	height: 35px;
	margin: 0.8em;
	font-size: 15px; 
	font: brown;
	font-family: 'Marmelad', sans-serif;
	background-color: #9de0bb;
}

select.vegetable-selector {
	margin-top: 30px;
}

.unsaved-box-item, .saved-box-item, .box-content, .added-vegetable {
	display: inline-block;
	
}

.logout-button{
	right: 520px;
}

.delete-vegetable-button {
	vertical-align: center;
	width: 25px;
	height: 25px;
	padding: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/* margin: 0.8em; */
	font-size: 18px; 
	font: brown;
	font-family: 'Marmelad', sans-serif;
	background-color: #9de0bb;
}

ul, .weeks-list {
	list-style-type: none;
	color: #9de0bb;
	text-decoration: none;
	font-family: 'Marmelad', sans-serif;
	padding: 10px;
	font-size: 24px;
}

span {
	font-size: 20px;
}

p {
	font-size: 25px;
}


nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	float: left;
}
